[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mypy = "*"
pytest = "*"
fuzzywuzzy = "*"
pika = "*"
flask = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
email-validator = "*"
password-validator = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
